# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv(r"D:\Навчання\Data Analytics\КУРС DATA ANALIST\python\DATA\supermarket_sales.csv")

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [2]:
df.sort_values(by = 'Unit price', ascending= False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [4]:
df[df['Product line'] == 'Electronic accessories'].sort_values(by = ['Quantity', 'Unit price'], ascending = [False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [6]:
df['Rating Category'] = df.Rating.apply(category_mapping)

In [5]:
def category_mapping(val):
    if val >= 8:
        return 'High'
    elif val >= 6 and val < 8:
        return 'Medium'
    else:
        return 'Low'

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [9]:
df['Rating Category'].value_counts(normalize = True)

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [10]:
time = '11:28'

In [16]:
def get_hour(time_str):
    return int(time_str.split(':')[0])

In [17]:
get_hour(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [18]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [25]:
df['Hour'].value_counts().sort_index()

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

Найбільше покупок здійснено о 19й годині. Це свідчить про те, що маємо збільшений потік клієнтів після робочого дня. Також маємо два пікові значення о 13й  та 15й годині. Цей час припадає на обідню перерву. Ще одне значення, на яке варто звернути увагу, це кількість покупок о 10й годині. Можемо припустити, що в цей період активна така категорія покупців, як пенсіонери, молоді матері на прогулянці тощо. Загалом сплески активності клієнтів саме в ці години виглядає цілком природнім.

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [26]:
df.groupby(by= 'City')['Total'].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [28]:
df.groupby(by= 'City')['Total'].agg(['mean', 'count', 'min', 'max'])

                 mean  count      min      max
City
Mandalay   319.872506    332  18.6375  1022.49
Naypyitaw  337.099715    328  10.6785  1042.65
Yangon     312.354031    340  12.6945  1039.29

### Спостереження ###
Найбільший середній чек у місті Naypyitaw, хоча кількість покупок тут найменша. Найбільша кількість покупок у місті Yangon, хоча тут наймменший ссередній чек. Mandalay виділяється найбільшим показником мінімальної суми чеку.
### Рекомендації ###
Yangon - необхідно збільшити середній чек. Розглянути доцільність впровадження додаткових промо, або бонусів за покупку від n-суми чеку
Naypyitaw - необхідно залучити більше клієнтів. Розглянути варіанти додаткової реклами.
Mandalay - визначити фактори, що сприяють високим показникам мінімальних покупок і масштабувати це на інші магазини.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [29]:
df.to_csv('supermarket_sales_enriched.csv', index = False)