#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv(r"D:\–ù–∞–≤—á–∞–Ω–Ω—è\Data Analytics\–ö–£–†–° DATA ANALIST\python\DATA\supermarket_sales.csv")

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
df.groupby(by = ['Branch'])['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [26]:
df.groupby(by = ['Branch', 'City'])['Total'].sum().sort_values(ascending=False).head(1)

Branch  City
C       Naypyitaw    110568.7065
Name: Total, dtype: float64

–•–æ—á —Ñ—ñ–ª—ñ—è C –º–∞—î –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ (110,568.71), –∞–ª–µ —Ä—ñ–∑–Ω–∏—Ü—è –∑ —Ñ—ñ–ª—ñ—è–º–∏ A —Ç–∞ –í –Ω–µ —Å—É—Ç—Ç—î–≤–∞. –í—ñ–¥–∫—Ä–∏–≤–∞—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü—å–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –Ω–µ –¥–æ—Ü—ñ–ª—å–Ω–æ

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [24]:
invoices_by_category = pd.pivot_table(
    df, index = 'Branch', 
    columns = 'Product line', 
    values = 'Invoice ID', 
    aggfunc = 'count'
)
display(invoices_by_category)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [25]:
invoices_by_category['Electronic accessories'].sort_values(ascending=False).head(1)

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

### –ì—ñ–ø–æ—Ç–µ–∑–∏:
1. –Ø–∫–∞ —Ñ–æ—Ä–º–∞ –æ–ø–ª–∞—Ç–∏ (Cash, Credit card, Ewallet) –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É?
2. –ß–∏ –∑–∞–ª–µ–∂–∏—Ç—å —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤—ñ–¥ —Ç–∏–ø—É –ø–æ–∫—É–ø—Ü—è (Customer type) —ñ —Å—Ç–∞—Ç—ñ (Gender)?
3. –£ —è–∫–∏–π –¥–µ–Ω—å —Ç–∏–∂–Ω—è –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫?

In [29]:
# 1. –Ø–∫–∞ —Ñ–æ—Ä–º–∞ –æ–ø–ª–∞—Ç–∏ (Cash, Credit card, Ewallet) –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É?
df.groupby('Payment')['Total'].sum().sort_values(ascending=False)

Payment
Cash           112206.570
Ewallet        109993.107
Credit card    100767.072
Name: Total, dtype: float64

–ë–∞—á–∏–º–æ, —â–æ –≥–æ—Ç—ñ–≤–∫–æ–≤—ñ —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫–∏ –≤ —Ç–æ—Ä–≥—ñ–≤–µ–ª—å–Ω—ñ–π –º–µ—Ä–µ–∂—ñ –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å.

In [30]:
# 2. –ß–∏ –∑–∞–ª–µ–∂–∏—Ç—å —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤—ñ–¥ —Ç–∏–ø—É –ø–æ–∫—É–ø—Ü—è (Customer type) —ñ —Å—Ç–∞—Ç—ñ (Gender)?
df.pivot_table(values='Total', index='Customer type', columns='Gender', aggfunc='mean')

Gender             Female        Male
Customer type
Member         337.727753  316.985419
Normal         332.233256  305.047581

–ó —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—ñ–≤ –±–∞—á–∏–º–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å –∂—ñ–Ω–∫–∏, –∞ —Ç–∞–∫–æ–∂, —â–æ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –±—ñ–ª—å—à–µ —É Members —è–∫ —Å–µ—Ä–µ–¥ —á–æ–ª–æ–≤—ñ–∫—ñ–≤, —Ç–∞–∫ —ñ —Å–µ—Ä–µ–¥ –∂—ñ–Ω–æ–∫

In [36]:
# 3. –£ —è–∫–∏–π –¥–µ–Ω—å —Ç–∏–∂–Ω—è –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫? 
df['Day'] = pd.to_datetime(df['Date']).dt.day_name()
df['Day'].value_counts()

Day
Saturday     164
Tuesday      158
Wednesday    143
Friday       139
Thursday     138
Sunday       133
Monday       125
Name: count, dtype: int64

–ù–∞–π–±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø—Ä–∏–ø—Ä–∏–ø–∞–¥–∞—î –Ω–∞ —Å—É–±–æ—Ç—É, –Ω–∞–π–º–µ–Ω—à–µ - –Ω–∞ –ø–æ–Ω–µ–¥—ñ–ª–æ–∫.  
–•–æ—á –º–∏ —Ü–µ–π —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª –Ω–µ –≤–∏–≤—á–∞–ª–∏, –º–µ–Ω—ñ –∑–¥–∞–ª–æ—Å—å –¥–æ—Ü—ñ–ª—å–Ω–∏–º –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —Å–∞–º–µ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è, —Ü–µ –±—É–ª–æ –± –¥–æ—Å–∏—Ç—å –ª–æ–≥—ñ—á–Ω–æ –¥–ª—è —Ä–µ–∞–ª—å–Ω–æ–≥–æ –ø—Ä–æ–µ–∫—Ç—É

### –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å
1. –ü—Ä–æ—Å—É–≤–∞—Ç–∏ –Ω–∞–π–≤–∏–≥—ñ–¥–Ω—ñ—à–∏–π —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –¥–æ–¥–∞—Ç–∫–æ–≤–∏–º –∫–µ—à–±–µ–∫–æ–º), –∞–±–æ –∂ –Ω–∞–≤–ø–∞–∫–∏ - –≤–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∑–∞—Ö–æ–¥–∏ –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –æ–ø–ª–∞—Ç —ñ–Ω—à–∏–º —Å–ø–æ—Å–æ–±–æ–º. –Ø–∫ –ø—Ä–∏–∫–ª–∞–¥, –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –±–µ–∑–≥–æ—Ç—ñ–≤–∫–æ–≤–∏—Ö —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—ñ–≤, —â–æ–± –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ —Ä–æ–±–æ—Ç—É –∫–∞—Å–∏—Ä—ñ–≤, –≤–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –∫–∞—Å–∏ —Å–∞–º–æ–æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è —Ç–æ—â–æ.
2. –°—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∑–∞ —Å—Ç–∞—Ç—Ç—é –ø–æ–∫—É–ø—Ü—è, —Å–ø—Ä—è–º–æ–≤—É–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ —Ä–µ–∫–ª–∞–º–∏ –Ω–∞ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é, –ø–ª—é—Å —Ü—ñ –¥–∞–Ω—ñ –¥–æ–ø–æ–º–æ–∂—É—Ç—å –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫–æ—é —Å–∞–º–µ —Ü–µ –º–æ–∂–µ –±—É—Ç–∏ —Ä–µ–∫–ª–∞–º–∞ (—Å–ø—Ä—è–º–æ–≤–∞–Ω–∞ –±—ñ–ª—å—à–µ –Ω–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —á–∏ –Ω–∞ –∂—ñ–Ω–æ–∫).
3. –ó–∞–ø—É—Å–∫–∞—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤–µ –ø—Ä–æ–º–æ –≤ –Ω–∞–π–º–µ–Ω—à –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω—ñ –¥–Ω—ñ, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ –¥–æ—Ö—ñ–¥, –ø—ñ–¥—Å–∏–ª–∏—Ç–∏ –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ –¥–Ω—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –¥–æ–¥–∞—Ç–∫–æ–≤–∏–π –ø–µ—Ä—Å–æ–Ω–∞–ª —á–∏ –∞–∫—Ü—ñ—ó). –ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–∏—Ö –≤–∑–∞–≥–∞–ª—ñ –º–æ–∂–Ω–∞ —Å–∫–ª–∞–¥–∞—Ç–∏ –≥—Ä–∞—Ñ—ñ–∫ —Ä–æ–±–æ—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—É - –≤ –∞–∫—Ç–∏–≤–Ω—ñ –¥–Ω—ñ –±—ñ–ª—å—à–µ —Å–ø—ñ–≤—Ä–æ–±—ñ—Ç–Ω–∏–∫—ñ–≤ –Ω–∞ —Ä–æ–±–æ—Ç—ñ, –≤ –º–µ–Ω—à –∞–∫—Ç–∏–≤–Ω—ñ, –¥–æ—Å—Ç–∞—Ç–Ω—å–æ 3-4 –ø—Ä–∞—Ü—ñ–≤–Ω–∏–∫—ñ–≤ —Ç–æ—â–æ.